.applicationContainer {
  display: flex;
  background-color: bisque;
  text-align: center;
  height: 100%;
}
.application {
  background-color: burlywood;
  text-align: center;
  border: 1px solid gray;
}
.bigText {
  color: green;
  font: bold;
  font-size: 80pt;
}
.resText {
  color: red;
  font: bold;
  font-size: 120pt;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  min-width: 5em;
  width: 5em;
}
.appInfo {
  bottom: 0;
  color: black;
}
